@model WebAppYte.Models.LichKham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LichKham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdlichKham" />
            <div class="form-group">
                <label asp-for="ChuDe" class="control-label"></label>
                <input asp-for="ChuDe" class="form-control" />
                <span asp-validation-for="ChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatDau" class="control-label"></label>
                <input asp-for="BatDau" class="form-control" />
                <span asp-validation-for="BatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KetThuc" class="control-label"></label>
                <input asp-for="KetThuc" class="form-control" readonly />
                <span asp-validation-for="KetThuc" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <select asp-for="TrangThai" class="form-control" id="trangThaiSelect">
                    <option value="0">Đang chờ xác nhận</option>
                 
                    <option value="4">Đang chờ xác nhận HỦY</option>
                </select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ZoomInfo" class="control-label"></label>
                <input asp-for="ZoomInfo" class="form-control" />
                <span asp-validation-for="ZoomInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KetQuaKham" class="control-label"></label>
                <input asp-for="KetQuaKham" class="form-control" />
                <span asp-validation-for="KetQuaKham" class="text-danger"></span>
            </div>
          
            <div class="form-group" style="display: none;">
                <label asp-for="IdnguoiDung" class="control-label"></label>
                <select asp-for="IdnguoiDung" class="form-control" asp-items="ViewBag.IdnguoiDung"></select>
                <span asp-validation-for="IdnguoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdquanTri" class="control-label"></label>
                <select asp-for="IdquanTri" class="form-control" asp-items="ViewBag.IdquanTri"></select>
                <span asp-validation-for="IdquanTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model?.IdnguoiDung">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

