@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            position: fixed;
            height: 100vh;
            left: 0;
            top: 0;
            margin-right: -1px;
        }

        .navbar-nav {
            width: 100%;
            text-align: center;
            margin-top: 25%;
        }

            .navbar-nav > li {
                display: block;
                margin-bottom: 10px;
            }

        .container {
            padding-left: 220px; /* Adjust this value according to your navbar width */
        }
    </style>
</head>
<body>

   

    <div class="container">
        <h3>HOME ADMIN</h3>
    </div>

</body>
</html>
