@model WebAppYte.Models.QuanTri

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";

}

<h1>Edit</h1>

<h4>QuanTri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdquanTri" />
            <div class="form-group">
                <label asp-for="TaiKhoan" class="control-label"></label>
                <input asp-for="TaiKhoan" class="form-control" />
                <span asp-validation-for="TaiKhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaiTro" class="control-label"></label>
                <input asp-for="VaiTro" class="form-control" />
                <span asp-validation-for="VaiTro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThongTinBacSi" class="control-label"></label>
                <input asp-for="ThongTinBacSi" class="form-control" />
                <span asp-validation-for="ThongTinBacSi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrinhDo" class="control-label"></label>
                <input asp-for="TrinhDo" class="form-control" />
                <span asp-validation-for="TrinhDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idkhoa" class="control-label"></label>
                <select asp-for="Idkhoa" class="form-control" asp-items="ViewBag.Idkhoa"></select>
                <span asp-validation-for="Idkhoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhBia" class="control-label"></label>
                <input asp-for="AnhBia" class="form-control" />
                <span asp-validation-for="AnhBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThongtinZoom" class="control-label"></label>
                <input asp-for="ThongtinZoom" class="form-control" />
                <span asp-validation-for="ThongtinZoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
